{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome to Aniket's Website!</h1>
  <p>Please leave a message for Aniket! The website all about Aniket Morajkar.</p>
  <p><a href="{% url 'message_create' %}" class="btn btn-lg btn-primary">Submit message</a></p>
</div>
<div class="jumbotron">
  <h1>Aniket's Bio!</h1>
  <p>Hello! My name is Aniket Morajkar! I am currently a senior CIS major at Quinnipiac University. I studied abroad in Germany this past semester and it was a blast! Now, I am looking for job opportunities in the field of IT!</p>
</div>
{% endblock %}